node_modules
npm-debug.log
logs
*.log
.env
.env.*
.git
.gitignore
Dockerfile
Dockerfile.*
docker-compose*
*.md
*.txt
**/__tests__
**/*.test.js
**/*.spec.js
.eslintrc*
.prettierrc*
coverage
.nyc_output
